body {
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px solid #8080802c;
    margin-bottom: 1.5rem;
}

label {
    color: #333;
}

.submit {
    float: right;
}

input {
    float: right;
}

.card {
    padding: 10px;
}